In [1]:
import pandas as pd

data ={ "ID" :[1,2,3,1,4],
        "Name" :["A", "B", "C", "D", "A"],
       "Age" : [23, 34, 56, 28,23],
       "Salary" : [2000,30000,500000, 0,30000],
       "Gender" : ['F', 'M', "F", "M",'F']
    }

df = pd.DataFrame(data)
print(df)

   ID Name  Age  Salary Gender
0   1    A   23    2000      F
1   2    B   34   30000      M
2   3    C   56  500000      F
3   1    D   28       0      M
4   4    A   23   30000      F

In [11]:
'''df.loc[(df["sal %"] == 0), "GetsValues"]= "No Values"
df.loc[(df["sal %"] > 0 , "GetsValues")]= "Values"
print(df.head(4))'''

df['Full Name'] = df["Name"].str.capitalize() +" "+ df["Gender"]  
print(df)

   ID Name  Age  Salary Gender Full Name
0   1    A   23    2000      F       A F
1   2    B   34   30000      M       B M
2   3    C   56  500000      F       C F
3   1    D   28       0      M       D M
4   4    A   23   30000      F       A F

In [12]:

df["Bonus"]  = (df["Salary"]/100)*20
print(df)

   ID Name  Age  Salary Gender Full Name     Bonus
0   1    A   23    2000      F       A F     400.0
1   2    B   34   30000      M       B M    6000.0
2   3    C   56  500000      F       C F  100000.0
3   1    D   28       0      M       D M       0.0
4   4    A   23   30000      F       A F    6000.0

In [18]:
data1 ={"Months" : ["January", "February", "March", "April"]}
a=pd.DataFrame(data1)
print(a)

def extract(values):
    return values[0:3]


a["Full_Months"]= a["Months"].map(extract)
print(a)

     Months
0   January
1  February
2     March
3     April
     Months Full_Months
0   January         Jan
1  February         Feb
2     March         Mar
3     April         Apr