In [7]:
import pandas as pd

data1 ={ "ID" :[1,2,3,1,4],
        "Name" :["A", "B", "C", "D", "A"],
       "Age" : [23, 34, 56, 28,23],
       "Salary" : [2000,30000,50000, 0,30000],
       "Gender" : ['F', 'M', "F", "M",'F']
    }

df1 = pd.DataFrame(data1)
print(df1)
print()

   ID Name  Age  Salary Gender
0   1    A   23    2000      F
1   2    B   34   30000      M
2   3    C   56   50000      F
3   1    D   28       0      M
4   4    A   23   30000      F

In [11]:
#Make copy data with update
df2 = df1.copy()
df2.loc[0,"Salary"]=25000
df2.loc[1,"Salary"]=350000
df2.loc[2,"Salary"]=550000
df2.loc[3,"Salary"]=30000
print(df2)

   ID Name  Age  Salary Gender
0   1    A   23   25000      F
1   2    B   34  350000      M
2   3    C   56  550000      F
3   1    D   28   30000      M
4   4    A   23   30000      F

In [10]:
#Compare data
print(df1.compare(df2))

    Salary
      self     other
0   2000.0   25000.0
1  30000.0  350000.0
2  50000.0  550000.0
3      0.0   30000.0

In [14]:
print(df1.compare(df2, keep_equal=True))
print(df1.compare(df2, keep_shape=False))

  Salary
    self   other
0   2000   25000
1  30000  350000
2  50000  550000
3      0   30000
    Salary
      self     other
0   2000.0   25000.0
1  30000.0  350000.0
2  50000.0  550000.0
3      0.0   30000.0