In [2]:
#First Practice Code
import pandas as pd

data ={ "Name" :["A", "B", "C"],
       "Age" : [23, 34, 56],
       "Salary" : [2000,30000,500000],
       "Gender" : ['F', 'M', "F"]
    }

df = pd.DataFrame(data)
print(df)

  Name  Age  Salary Gender
0    A   23    2000      F
1    B   34   30000      M
2    C   56  500000      F

In [ ]:
#This is code of any excle or csv file
data = pd.read_csv("File name with path name")
data = pd.read_excel("File name with path name")

In [7]:
#Exploring data in Pandas
print(df.head(2))

print()

print(df.tail(2))

  Name  Age  Salary Gender
0    A   23    2000      F
1    B   34   30000      M

  Name  Age  Salary Gender
1    B   34   30000      M
2    C   56  500000      F

In [8]:
#Row and coulmn counting 
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Salary  3 non-null      int64
 3   Gender  3 non-null      object
dtypes: int64(2), object(2)
memory usage: 228.0+ bytes
None

In [9]:
print(df.describe())

             Age         Salary
count   3.000000       3.000000
mean   37.666667  177333.333333
std    16.802778  279788.014992
min    23.000000    2000.000000
25%    28.500000   16000.000000
50%    34.000000   30000.000000
75%    45.000000  265000.000000
max    56.000000  500000.000000

In [10]:
print(df.isnull().sum())

Name      0
Age       0
Salary    0
Gender    0
dtype: int64