In [29]:
import pandas as pd

data ={ "ID" :[1,2,3,1,4],
        "Name" :["A", "B", "C", "D", "A"],
       "Age" : [23, 34, 56, 28,23],
       "Salary" : [2000,30000,500000, 0,30000],
       "Gender" : ['F', 'M', "F", "M",'F']
    }

df = pd.DataFrame(data)
print(df)

   ID Name  Age  Salary Gender
0   1    A   23    2000      F
1   2    B   34   30000      M
2   3    C   56  500000      F
3   1    D   28       0      M
4   4    A   23   30000      F

In [2]:
print(df.isnull().sum())

ID        0
Name      0
Age       0
Salary    0
Gender    0
dtype: int64

In [5]:
print(df.dropna())

   ID Name  Age  Salary Gender
0   1    A   23    2000      F
1   2    B   34   30000      M
2   3    C   56  500000      F
3   1    D   28       0      M
4   4    A   23   30000      F

In [14]:
import numpy as np
print(df.replace(np.nan,"Hi"))

   ID Name  Age  Salary Gender
0   1    A   23    2000      F
1   2    B   34   30000      M
2   3    C   56  500000      F
3   1    D   28       0      M
4   4    A   23   30000      F

In [24]:
print(df["Salary"].mean())

112400.0