In [3]:
import pandas as pd

data1 ={ "ID" :[1,2,3,1,4],
        "Name" :["A", "B", "C", "D", "A"],
       "Age" : [23, 34, 56, 28,23],
       "Salary" : [2000,30000,500000, 0,30000],
       "Gender" : ['F', 'M', "F", "M",'F']
    }

data2 ={ "ID" :[1,2,3,1,4],
        "Name" :["A", "B", "C", "D", "A"],
       "Age" : [23, 34, 56, 28,23],
       "Salary" : [2000,30000,500000, 0,30000],
       "Gender" : ['F', 'M', "F", "M",'F']
    }

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print()
print(df2)

   ID Name  Age  Salary Gender
0   1    A   23    2000      F
1   2    B   34   30000      M
2   3    C   56  500000      F
3   1    D   28       0      M
4   4    A   23   30000      F

   ID Name  Age  Salary Gender
0   1    A   23    2000      F
1   2    B   34   30000      M
2   3    C   56  500000      F
3   1    D   28       0      M
4   4    A   23   30000      F

In [8]:
#MERGE
print(pd.merge(df1,df2, on = "ID", how="left"))

print()
print(pd.merge(df1,df2, on = "ID", how="right"))

   ID Name_x  Age_x  Salary_x Gender_x Name_y  Age_y  Salary_y Gender_y
0   1      A     23      2000        F      A     23      2000        F
1   1      A     23      2000        F      D     28         0        M
2   2      B     34     30000        M      B     34     30000        M
3   3      C     56    500000        F      C     56    500000        F
4   1      D     28         0        M      A     23      2000        F
5   1      D     28         0        M      D     28         0        M
6   4      A     23     30000        F      A     23     30000        F

   ID Name_x  Age_x  Salary_x Gender_x Name_y  Age_y  Salary_y Gender_y
0   1      A     23      2000        F      A     23      2000        F
1   1      D     28         0        M      A     23      2000        F
2   2      B     34     30000        M      B     34     30000        M
3   3      C     56    500000        F      C     56    500000        F
4   1      A     23      2000        F      D     28         0        M
5   1      D     28         0        M      D     28         0        M
6   4      A     23     30000        F      A     23     30000        F

In [14]:
print(pd.concat([df1,df2]))

   ID Name  Age  Salary Gender
0   1    A   23    2000      F
1   2    B   34   30000      M
2   3    C   56  500000      F
3   1    D   28       0      M
4   4    A   23   30000      F
0   1    A   23    2000      F
1   2    B   34   30000      M
2   3    C   56  500000      F
3   1    D   28       0      M
4   4    A   23   30000      F