In [15]:
#Pivoting
import pandas as pd

data1 ={ "ID" :[1,2,3,4,5],
        "Name" :["A", "B", "C", "D", "E"],
       "Age" : [23, 34, 56, 28,23],
       "Salary" : [2000,30000,50000, 0,30000],
       "Gender" : ['F', 'M', "F", "M",'F']
    }

df1 = pd.DataFrame(data1)
print(df1)

print (df1.pivot(index="ID", columns="Name", values=["Age","Salary","Gender"]))

   ID Name  Age  Salary Gender
0   1    A   23    2000      F
1   2    B   34   30000      M
2   3    C   56   50000      F
3   4    D   28       0      M
4   5    E   23   30000      F
      Age                     Salary                           Gender       \
Name    A    B    C    D    E      A      B      C    D      E      A    B
ID
1      23  NaN  NaN  NaN  NaN   2000    NaN    NaN  NaN    NaN      F  NaN
2     NaN   34  NaN  NaN  NaN    NaN  30000    NaN  NaN    NaN    NaN    M
3     NaN  NaN   56  NaN  NaN    NaN    NaN  50000  NaN    NaN    NaN  NaN
4     NaN  NaN  NaN   28  NaN    NaN    NaN    NaN    0    NaN    NaN  NaN
5     NaN  NaN  NaN  NaN   23    NaN    NaN    NaN  NaN  30000    NaN  NaN


Name    C    D    E
ID
1     NaN  NaN  NaN
2     NaN  NaN  NaN
3       F  NaN  NaN
4     NaN    M  NaN
5     NaN  NaN    F

In [19]:
#Melting
print(pd.melt(df1, id_vars=["ID"], value_vars=["Name", "Gender","Salary"]))

    ID variable  value
0    1     Name      A
1    2     Name      B
2    3     Name      C
3    4     Name      D
4    5     Name      E
5    1   Gender      F
6    2   Gender      M
7    3   Gender      F
8    4   Gender      M
9    5   Gender      F
10   1   Salary   2000
11   2   Salary  30000
12   3   Salary  50000
13   4   Salary      0
14   5   Salary  30000